.titulosite{
  font-size: 40px;
  font-weight: bold;
  height: 112px;
  border-bottom: 1px dashed #d0d0d0;
  padding: 32px;
  }

.menuusuario{
  position: absolute;
  top: 70px;
  right: 32px;
  width: fit-content !important;
  z-index: 1;
}

.itemclicavel{
  font-weight: bold;
}

.personcircle{
  width: 50px;
  height: 50px;
}

.row{
  margin-right: 0px;
  margin-left: 0px;
}

.iconusuario{
  width: 50px;
  height: 50px;
}



