<div class="row">
  <div class="titulosite d-flex align-items-center">
    <span>{{this.titulosite}}</span>
  </div>

  <div class="titulosite d-flex align-items-center col-sm justify-content-end">
    <a (click)="this.menuusuario = !this.menuusuario">
      <img class="iconusuario" src="assets/icons8-person-64.png">
    </a>
  </div>

  <div *ngIf="this.menuusuario" class="list-group menuusario">
    <li class="list-group-item disabled">MENU</li>
    <a href="#" class="list-group-item list-group-item-action itemclicavel">Admin</a>
    <a href="#" class="list-group-item list-group-item-action itemclicavel">Logout</a>
  </div>
</div>

