.menuexpansivel{
  position: fixed;
  width: 256px;
}

.menubackground{
  width: 100%;
  height: 55.6px;
  background-color: white;
}

.itemclicavel{
  font-weight: bold;
}

.menuusuario{
  position: absolute;
  right: 32px;
  top: 70px;
  z-index: 1;
}
