<div class="container-fluid">
  <div class="row">
    <div class="col-3 card-content" *ngFor="let courses of courses">
      <div class="card" style="width: 18rem;">
          <img src="{{ courses.image }}" class="card-img-top" alt="Card image cap">
        <div class="card-body">
           <h5 class="card-title">{{ courses.title }}</h5>
           <p class="card-text truncated-text">{{ courses.description }}</p>
           <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>
    </div>
  </div>
</div>
